
<!DOCTYPE html>
<html>
    <head>
      <style>
        * {
            font-size: 20px; /* change this value */
            font-weight: bold; /* make the text bold */
        }
        input, select {width: 10%;}
        body {
            background-image: url('static/fdr33.png');
            background-repeat: repeat;
            background-color: #f0f0f0;
        }
        p, h1, h2, h3, h4, h5, h6, span, a, li {background-color: white;}
        img {width: 100px;   height: auto; }

        /*
        #layout {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        */

        #div_mp3s {flex: 1;margin-right: 20px;}
      </style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>


<div id="div_mp3s">
{% for file in files %}
<b>{{ file }}</b>
<audio controls src="{{ url_for('static',filename='mp3s/'+file) }}"></audio>
{% endfor %}
</div>


        <iframe
      src="https://www.tradingview.com/widgetembed/?symbol=AMEX:SPY&interval=1&theme=light&style=1&locale=en"
      width="400"
      height="300"
      frameborder="0"
      allowtransparency="true"
      scrolling="no">
        </iframe>

        <iframe
      src="https://www.tradingview.com/widgetembed/?symbol=AMEX:USO&interval=1&theme=light&style=1&locale=en"
      width="400"
      height="300"
      frameborder="0"
      allowtransparency="true"
      scrolling="no">
        </iframe>


    <!--
<div id="layout">
    <div id="left">
        <div id="div_mp3s">
        </div>
    </div>
    <div id="right">


        <iframe
      src="https://www.tradingview.com/widgetembed/?symbol=AMEX:SPY&interval=1&theme=light&style=1&locale=en"
      width="400"
      height="300"
      frameborder="0"
      allowtransparency="true"
      scrolling="no">
        </iframe>
        <iframe
      src="https://www.tradingview.com/widgetembed/?symbol=AMEX:USO&interval=1&theme=light&style=1&locale=en"
      width="400"
      height="300"
      frameborder="0"
      allowtransparency="true"
      scrolling="no">
        </iframe>


    </div>
</div>
-->


<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<div class="tradingview-widget-container">


<div id="tradingview_abc123" style="height:400px;"></div>



    <h2>Generate TradingView Options URL</h2>

    <!-- Input fields for symbol, strike price, call/put, and expiration date

    https://www.tradingview.com/chart/?symbol=OPRA%3Auso260107c69.0

    https://www.tradingview.com/chart/?symbol=OPRA%3ASPY260106C690.0

    -->


    <input type="text" id="symbol" placeholder="symbol" onchange="generateURL()">
    <input type="number" id="strike-price" placeholder="strike-price" onchange="generateURL()">
    <select id="call-put" onchange="generateURL()">
        <option value="C">Call</option>
        <option value="P">Put</option>
    </select>
    <input type="number" id="exp-month" placeholder="Month" onchange="generateURL()">
    <input type="number" id="exp-day" placeholder="Day" onchange="generateURL()">
    <input type="number" id="exp-year" value="26" onchange="generateURL()">



    <div id="generated-url"></div>

<ul id="login_list"></ul>
<button id="open_sites_btn">Open</button>
<br><br>
<a href=
"https://www.reddit.com/r/legaladviceofftopic/"
target="_blank"
>
<button>laot</button>
</a>
<br>

<div id="container_reddit">
  <input type="text" id="subInput" placeholder="Type subreddit">
  <div id="suggestions"></div>
</div>
<button onclick="open_url('subInput','https://www.reddit.com/r/')">new</button>
<button onclick="open_url('subInput','https://old.reddit.com/r/')">old</button>
<br>
<br>
<textarea
id="input_search"
placeholder="search"
rows="4"
style="height: 80px;">
</textarea>
<br>
<select id="searchDropdown"></select>
<button onclick="goToSite()">Go</button>
<br>
<div id="links_container"></div>
<br><br>

<!--
<div id="translator"></div>
<script src="https://www.microsoft.com/translator/widget/v1/translator.js"></script>
-->


<br><br>
<button onclick="openLang('both')">French+German</button>
<button onclick="openLang('de')">German</button>
<button onclick="openLang('fr')">French</button>
<button onclick="openLang('es')">Spanish</button>
<br><br>
<div id="logos_container"></div>
<br><br><br>
<br><br>
<a href=
"https://aifaceswap.io/"
target="_blank"
>
swa
</a>
<a href=
"https://aifaceswapper.io/video-face-swap"
target="_blank">
sw1
</a>
<a href=
"https://www.swapfaces.ai/long-video-face-swap"
target="_blank">
sw2
</a>
<a href=
"https://aivideofaceswap.io/"
target="_blank">
sw3
</a>
<a href=
"https://freefaceswap.ai/video-face-swap/"
target="_blank">
sw4
</a>
<br>
<a href="#" onclick="window.open('https://weather.com/weather/radar/interactive/l/Fredericksburg+Virginia+22401?canonicalCityId=29d771c239de3f7aac3a0670102dc0e3', '_blank'); window.open('https://www.google.com/search?q=weather', '_blank'); return false;">
<img src="/static/sun.png" alt="eBay image">
</a>
<br>
<a href=
"https://send-anywhere.com/"
target="_blank">
send anywhere
</a>
<br>
<br><br>
<input type="text" id="input_used" placeholder="used stuff">
<button onclick="open_used()">
used stuff
<img src="/static/used_new.jpg" alt="eBay image">
</button>
<br>
<input type="text" id="input_ebay_north_america" placeholder="ebay">
<button onclick="open_ebay_north_america()">
<img src="/static/ebay_search.jpg" alt="eBay image">
</button>
<br><br>
    <div>
        <input type="text" id="input_nonprofit" placeholder="nonprofit_lookup" />
        <button onclick="open_nonprofit()">Go</button>
    </div>
<br><br>



<h2>CoQ10 Not Select</h2>
<select id="not_best_offer_select">
    <option value="">-- Select a Brand --</option>
</select>


<h2>CoQ10 Select</h2>
<select id="best_offer_select">
    <option value="">-- Select a Brand --</option>
</select>




</body>
<script>



    new TradingView.widget({
      "autosize": true,
      "symbol": "NASDAQ:AAPL",  // Default symbol, can be dynamically changed
      "interval": "D",
      "timezone": "Etc/UTC",
      "theme": "light",
      "style": "1",
      "locale": "en",
      "toolbar_bg": "#f1f3f6",
      "enable_publishing": false,
      "withdateranges": true,
      "hide_side_toolbar": false,
      "allow_symbol_change": true, // This allows users to input any symbol
      "container_id": "tradingview_abc123"
    });


/*
Microsoft.Translator.Widget.Translate('fr', 'en,es,de,fr', onComplete, onError, onProgress);
function onComplete() {}
function onError() {}
function onProgress() {}
*/

function generateURL() {
    // Get values from the input fields
    const symbol = document.getElementById('symbol').value;

    //const strikePrice = document.getElementById('strike-price').value;
    let strikePrice = document.getElementById('strike-price').value;
    if (!strikePrice.includes('.0')) {
        strikePrice += '.0';
    }

    const callPut = document.getElementById('call-put').value;
    const expDay = document.getElementById('exp-day').value.padStart(2, '0'); // Format day to 2 digits
    const expMonth = document.getElementById('exp-month').value.padStart(2, '0'); // Format month to 2 digits
    const expYear = document.getElementById('exp-year').value;
    // Construct the options symbol (OPRA format)
    //https://www.tradingview.com/chart/?symbol=OPRA%3Auso260107c69.0
    //https://www.tradingview.com/chart/?symbol=OPRA%3Auso260701C69.0

    /*

    https://www.tradingview.com/chart/?symbol=OPRA%3Auso260107c69.0

    https://www.tradingview.com/chart/?symbol=OPRA%3ASPY260106C690.0

    */

    const optionsSymbol = `${symbol}${expYear}${expMonth}${expDay}${callPut}${strikePrice}`;
    //const optionsSymbol = `${symbol}${expMonth}${expDay}${expYear}${strikePrice}${callPut}`;
    // Generate the TradingView URL
    const url = `https://www.tradingview.com/chart/?symbol=OPRA%3A${encodeURIComponent(optionsSymbol)}`;
    // Display the generated URL
    document.getElementById('generated-url').innerHTML = `Generated URL: <a href="${url}" target="_blank">${url}</a>`;
}



function openLang(lang) {
  const text = encodeURIComponent(document.getElementById("input_search").value);
  if (!text) return;
  if (lang === "de") {
    window.open(`https://context.reverso.net/translation/english-german/${text}`, "_blank");
  } else if (lang === "fr") {
    window.open(`https://context.reverso.net/translation/english-french/${text}`, "_blank");
  } else if (lang === "es") {
    window.open(`https://context.reverso.net/translation/english-spanish/${text}`, "_blank");
  } else {
    // Both
    window.open(`https://context.reverso.net/translation/english-german/${text}`, "_blank");
    window.open(`https://context.reverso.net/translation/english-french/${text}`, "_blank");
  }
}
        function open_nonprofit() {
            var searchTerm = document.getElementById("input_nonprofit").value;
            if (searchTerm) {
                var googleSearchUrl = "https://www.google.com/search?q=" + searchTerm + "+ein";
                var irsUrl = "https://apps.irs.gov/app/eos/";
                // Open the URLs in new tabs
                window.open(irsUrl, "_blank");
                window.open(googleSearchUrl, "_blank");
            } else {
                alert("Please enter a search term.");
            }
        }


/*const files = ["lucidity2.mp3", "clearwater.mp3", "hwl.mp3", "shake_snow_globe.mp3"];
const containerMp3s = document.getElementById('div_mp3s');
files.forEach(file => {
    //const player = document.createElement('div');
    const player = document.createElement('span');
    const title = document.createElement('span');
    title.textContent = file;
    const audio = document.createElement('audio');
    audio.controls = true;
    audio.preload = 'auto';
    const source = document.createElement('source');
    source.src = `https://info34.pythonanywhere.com/uploads/${file}`;
    source.type = 'audio/mp3';
    audio.appendChild(source);
    player.appendChild(title);
    player.appendChild(audio);
    containerMp3s.appendChild(player);
    const br = document.createElement('br');
    //containerMp3s.appendChild(br);
});
*/

const subreddits = [
    "bike",
    "politicalscience",
    "legaladviceofftopic",
    "history"
];
const login_infos = [
    ["violin788788@gmail.com", "Viovio1!"],
    ["34ballotmeasure", "votevote"],
    ["coffee1655", "espresso556"],
    ["violin788788@gmail.com", "Viovio3#"],
    ["violin788788@outlook.com", "Viovio1!"],
    ["media788788@gmail.com", "Medmed2@"],
    ["violin78@protonmail.com", "Viovio2@"],
    ["violin788788@proton.me", "Viovio1!"],
    ["info34", "Infinf1!"],
    ["vote34", "Viovio1!"],
];
login_infos.forEach(p=>document.write(`<div style="width:100%;white-space:nowrap;font-family:monospace;margin:8px 0">${p[0]} <button onclick="navigator.clipboard.writeText('${p[0]}')">Copy User</button>      ${p[1]} <button onclick="navigator.clipboard.writeText('${p[1]}')">Copy Pass</button></div>`));
const data_search = [
    ["google", "png", "https://www.google.com/search?q="],
    ["bing", "png", "https://www.bing.com/search?q="],
    ["chat_150", "png", "https://chat.openai.com/?q=all answers given by chat in future is max 150 words,"],
    ["chat_infinite", "png", "https://chat.openai.com/?q="],
    ["wiki-en", "png", "https://en.wikipedia.org/wiki/"],
    ["wiki-fr", "png", "https://fr.wikipedia.org/wiki/"],
    ["youtube", "jpg", "https://www.youtube.com/results?search_query="],
    ["maps_google", "png", "https://www.google.com/maps/place/"],
    ["wiktionary", "jpg", "https://en.wiktionary.org/wiki/"]
];
const dropdown = document.getElementById("searchDropdown");
data_search.forEach(item => {
  const option = document.createElement("option");
  option.text = item[0];      // name
  option.value = item[2];     // URL
  dropdown.appendChild(option);
});
function goToSite() {
  const baseUrl = dropdown.value;
  const query = document.getElementById("input_search").value.trim();
  if (baseUrl) {
    const fullUrl = baseUrl + encodeURIComponent(query);
    window.open(fullUrl, "_blank");
  }
}
    const input_search = document.getElementById('input_search');
    data_search.forEach(item => {
        const name = item[0], extension = item[1], base_url = item[2];
        const link = document.createElement('a');
        const img = document.createElement('img');
        img.src = `/static/${name}.${extension}`;
        img.alt = name;
        link.href = '#';
        link.target = "_blank";
        link.onclick = function(e) {
            e.preventDefault();
            const query = encodeURIComponent(input_search.value.trim());
            if (query) {
                const full_url = base_url + query;
                window.open(full_url, '_blank');
            } else {
                alert('Please enter something to search!');
            }
        };
        link.appendChild(img);
        links_container.appendChild(link);
    });


const urls = [
    ["logo_pixler", "png","pixler","https://pixlr.com/editor/"],
    ["mp3", "png","mp3", "https://cnvmp3.com/v51"],
    ["twitter", "png","", "https://ssstwitter.com/download-twitter-mp3"],
    ["python", "png","python", "https://www.pythonanywhere.com/login/?next=/"],
    ["bannon_twitter", "jpg","bannon", "https://x.com/Bannons_WarRoom"],
    ["bannon_rumble", "jpg","bannon", "https://rumble.com/BannonsWarRoom"],
    ["sun", "png","", ""],
    ["logos", "png","", "https://www.cleanpng.com/"],
    ["ebay_coq10", "png","", "https://www.ebay.com/sch/i.html?_nkw=coq10&_sacat=0&_from=R40&LH_Auction=1&_sop=15"],
    ["newsmax2", "jpg","newsmax", "https://rumble.com/v60552h-newsmax2-live-real-news-for-real-people.html?e9s=src_v1_sa%2Csrc_v3_sa_o%2Csrc_v1_ucp_f"],
    ["library", "png","library", "https://appointments.librarypoint.org/reserve/fx"],
    ["screen_recorder", "png","screen_recorder", "https://screen-recorder.com/"],
];
const logos_container = document.getElementById('logos_container');

urls.forEach(item => {
    const logoName = item[0], extension = item[1], url = item[3];
    if (url) {
        const link = document.createElement('a');
        link.style.display = "inline-block";
        const img = document.createElement('img');
        img.src = `/static/${logoName}.${extension}`;
        img.alt = logoName;
        link.href = url;
        link.target = "_blank";
        link.appendChild(img);
        link.appendChild(document.createElement("br"));
        if (item[2]) link.appendChild(document.createTextNode(item[2]));
        logos_container.appendChild(link);
    }
});


//open_url(input,url)
function open_url(input,url){
  let input_value=document.getElementById(input).value.trim();
  if(input_value) window.open(url+input_value,'_blank');
}
// Function to handle button click event
function open_ebay_north_america() {
    // Get the value from the input box
    var searchTerm = document.getElementById('input_ebay_north_america').value;
    // Construct the URL with the input value
    var baseUrl = 'https://www.ebay.com/sch/i.html?_nkw=';
    var finalUrl = baseUrl + encodeURIComponent(searchTerm) + '&_sacat=0&_from=R40&LH_BIN=1&_sop=15&rt=nc&LH_PrefLoc=3';
    // Open the URL in a new window
    window.open(finalUrl, '_blank');
}
function open_used() {
    const query = document.getElementById("input_used").value.trim();
    if (!query) {
        alert("Please type something to search.");
        return;
    }
    list_urls_used.forEach(url => {
        const finalUrl = url.replace("__used__", encodeURIComponent(query));
        window.open(finalUrl, "_blank");
    });
}
document.getElementById("open_sites_btn").onclick = () => {
    const urls = [
        "https://www.facebook.com/",
        "https://old.reddit.com/message/inbox/",
        "https://twitter.com/",
        "https://keep.google.com/"
    ];
    urls.forEach(url => {
        window.open(url, "_blank");
    });
};

const brands_coq10= [
    "zebora",
    "nature",
    "140",
    "target",
    "foster",
    "walgreen",
    "doctors best",
    "vitacost",
    "omogs",
    "kirkland"
];


        //const ebay_base_url = "https://www.ebay.com/sch/i.html?_dcat=11776&_fsrp=1&rt=nc&_from=R40&_nkw=---search---&_sacat=0&LH_BO=1";
        const ebay_base_url = "https://www.ebay.com/sch/i.html?_dcat=11776&_fsrp=1&_from=R40&_nkw=---search---&_sacat=0&LH_BO=1&_sop=15";

        const best_offer_select = document.getElementById('best_offer_select');
        brands_coq10.forEach(brand => {
            const option = document.createElement('option');
            option.value = brand;
            option.textContent = brand.charAt(0).toUpperCase() + brand.slice(1);
            best_offer_select.appendChild(option);
        });
        best_offer_select.addEventListener('change', function() {
            const selectedBrand = best_offer_select.value;
            if (selectedBrand) {
                const searchUrl = ebay_base_url.replace('---search---', "coq10 " + encodeURIComponent(selectedBrand));
                window.open(searchUrl, '_blank');
            }
        });




/*
const coq10_best_offer = document.getElementById('coq10_best_offer');
const ebay_base_url = "https://www.ebay.com/sch/i.html?_dcat=11776&_fsrp=1&rt=nc&_from=R40&_nkw=---search---&_sacat=0&LH_BO=1";
brands_coq10_22.forEach(item => {
    const brandName = item[0];
    const extension = item[1];
    const searchUrl = ebay_base_url.replace('---search---', "coq10 "+encodeURIComponent(brandName));
    const link = document.createElement('a');
    const img = document.createElement('img');
    img.src = `/static/${brandName}.${extension}`;  // Image from the static folder
    img.alt = brandName;
    link.href = searchUrl;
    link.target = "_blank";
    link.appendChild(img);
    coq10_best_offer.appendChild(link);
});

*/

const list_coq10_not_best_offer = document.getElementById("ul_coq10_not_best_offer");
const list_coq10_best_offer = document.getElementById("list_coq10_best_offer");
const url_not_best_offer = "https://www.ebay.com/sch/i.html?_nkw=__KW__&_sacat=0&_from=R40&LH_BIN=1&_sop=15&rt=nc&LH_PrefLoc=3";
const url_best_offer = "https://www.ebay.com/sch/i.html?_dcat=11776&_fsrp=1&rt=nc&_from=R40&_nkw=__KW__&_sacat=0&_sop=15&LH_PrefLoc=3&LH_BO=1";
const url_used_craig = "https://fredericksburg.craigslist.org/search/sss?postal=22401&query=__used__&search_distance=10&sort=priceasc#search=2~gallery~0"
const url_used_ebay = "https://www.ebay.com/sch/i.html?_from=R40&_stpos=22401&_nkw=__used__&_sacat=0&_fspt=1&_sadis=25&_fcid=1&LH_PrefLoc=99&_sop=15"
const url_used_fb = "https://www.facebook.com/marketplace/103795126325698/search?deliveryMethod=local_pick_up&sortBy=price_ascend&query=__used__&exact=false"
const list_urls_used=[url_used_craig,url_used_ebay,url_used_fb]
// CoQ10 Not Best Offer
brands_coq10.forEach(item => {
    const kw = item.replace(/ /g, "+");
    const url = url_not_best_offer.replace("__KW__", kw);
    const li = document.createElement("li");
    li.innerHTML = `<a href="${url}" target="_blank">${item}</a>`;
    list_coq10_not_best_offer.appendChild(li);
});

// CoQ10 Best Offer
brands_coq10.forEach(item => {
    const kw = item.replace(/ /g, "+");
    const url = url_best_offer.replace("__KW__", kw);
    const li = document.createElement("li");
    li.innerHTML = `<a href="${url}" target="_blank">${item}</a>`;
    list_coq10_best_offer.appendChild(li);
});
</script>
</html>