<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style>

      #sun_info {
      color: white; /* only this div's text is white */
    }



    * { font-size: 20px; font-weight: bold; }

    select {width: 100px;}

    input {width: 200px;}

    /*
    background-image: url('static/fdr.png');
    */


    body {
      /*background-image: url('static/pantheon.png');*/
      background-image: url('static/stock.jpeg');
      background-repeat: repeat;
      background-color: #f0f0f0;
    }
    p, h1, h2, h3, h4, h5, h6, span, a, li { background-color: white; }
    img { width: 100px; height: auto; }
    #div_mp3s { flex: 1; margin-right: 20px; }
  </style>
</head>


<body>
<div id="links">
    {% for page in pages %}
        <a href="{{ url_for(page) }}" target="_blank" rel="noopener noreferrer">
            {{ page.capitalize() }}
        </a>
    {% endfor %}
</div>

<br>

<a href="https://vote34.pythonanywhere.com/" target="_blank">vote34</a>

<br>

<!--

<div id="div_mp3s">
  {% for file in files %}
    <b>{{ file }}</b>
    <audio controls src="{{ url_for('static', filename='mp3s/'+file) }}"></audio>
  {% endfor %}
</div>

-->

<div id="tradingview_abc123" style="height:400px;"></div>

<iframe src="https://www.tradingview.com/widgetembed/?symbol=AMEX:SPY&interval=1&theme=light&style=1&locale=en" width="375" height="300" frameborder="0" allowtransparency="true" scrolling="no"></iframe>

<iframe src="https://www.tradingview.com/widgetembed/?symbol=AMEX:USO&interval=1&theme=light&style=1&locale=en" width="375" height="300" frameborder="0" allowtransparency="true" scrolling="no"></iframe>

<div class="tradingview-widget-container"></div>

<!-- TradingView Options Generator -->


<h2>TradingView Options Search</h2>


<input type="text" id="symbol" placeholder="symbol" onchange="generateURL()">
<input type="number" id="strike-price" placeholder="strike-price" onchange="generateURL()">
<select id="call-put" onchange="generateURL()">
  <option value="C">Call</option>
  <option value="P">Put</option>
</select>
<input type="number" id="exp-month" placeholder="Month" onchange="generateURL()">
<input type="number" id="exp-day" placeholder="Day" onchange="generateURL()">
<input type="number" id="exp-year" value="26" onchange="generateURL()">
<div id="generated-url"></div>


<br><br>


<div>
  <select id="select_news">
    <option value="">youtube news</option>
  </select>
</div>

<div id="show_channel"></div>

<br><br>

<button id="button_open_browse_1st">browse 1st</button>

<br>

<!--

<button id="button_open_browse">browse 2nd</button>

<br><br>

-->

url
<br>
<div>
  <select id="select_link">
    <option value="">url</option>
  </select>
</div>


<br><br>

<!--

max 150 words..

<button onclick="navigator.clipboard.writeText('max 150 words..')">📋</button>

<br><br>

-->



<textarea id="input_search" placeholder="search engines" rows="4" style="height: 80px;"></textarea>
<br>
<select id="select_search"></select>
<button onclick="goToSite()">Go</button>


<br><br>

<input type="text" id="input_used" placeholder="used stuff search">
<button onclick="open_used()">used stuff </button>

<br><br>



<input  type="text"
        id="input_shopping_search"
        placeholder="ebay search"
        >



<br>

<button onclick="shop_search('ebay_north_america')">ebay_north_america</button>
<br>
<button onclick="shop_search('ebay_best_offer_north_america')">ebay_north_america_best_offer</button>
<br>
<button onclick="shop_search('ebay_north_america_not_auction')">ebay_north_america_buy_it_now</button>
<br>
<button onclick="shop_search('ebay_500_miles')">ebay_north_america_500_miles</button>
<br>
<button onclick="shop_search('ebay_best_offer_500_miles')">ebay_north_america_500_miles_best_offer</button>
<br>
<button onclick="shop_search('amazon_search')">amazon_search</button>
<br>
<button onclick="shop_search('walmart_search')">walmart_search</button>
<br>
<button onclick="shop_search('lowes_search')">lowes_search</button>
<br>
<button onclick="shop_search('home_depot_search')">home_depot_search</button>

<br><br>




  <input
    type="text"
    id="ebayUrl"
    placeholder="how long has been on ebay?"
    style="width:300px;"
  />

  <button onclick="ebay_how_long_been_there()">
    how long has been on ebay?
  </button>


<br><br>
<div>
  <input type="text" id="input_nonprofit" placeholder="nonprofit_lookup" />
  <button onclick="open_nonprofit()">nonprofit_lookup</button>
</div>

<br><br>



<select id="coq10_best_offer"><option value="">best coq10</option></select>

<br><br>

<!--

<div id="div_logins"></div>

-->


<h2>Solstice Countdown & Sun Times</h2>
<div id="sun_info"></div>


</body>

<script src="https://s3.tradingview.com/tv.js"></script>
<script>



const now = new Date();
const year = now.getFullYear();

// Next June 21
let nextSolstice = new Date(year, 5, 21); // months are 0-indexed: 5 = June
if (now > nextSolstice) {
  nextSolstice = new Date(year + 1, 5, 21);
}

const msPerDay = 1000 * 60 * 60 * 24;
const daysLeft = Math.ceil((nextSolstice - now) / msPerDay);

document.getElementById('sun_info').textContent =
  `Days until June 21 (solstice) = ${daysLeft}`;



function ebay_how_long_been_there() {
  const ebayUrl = document.getElementById("ebayUrl").value;

  const match = ebayUrl.match(/\/itm\/(\d+)/);
  if (!match) {
    alert("Invalid eBay URL");
    return;
  }

  const itemNumber = match[1];

  const watchCountUrl = `https://www.watchcount.com/live/${itemNumber}/-/all?site=EBAY_US`;

  window.open(watchCountUrl, "_blank");
}



async function doTranslate(lang) {
  const text = document.getElementById('inputText').value;
  if (!text) return alert("Please type something in English first!");

  try {
    const response = await fetch('https://libretranslate.de/translate', {
      method: 'POST',
      body: JSON.stringify({
        q: text,
        source: 'en',
        target: lang,
        format: 'text'
      }),
      headers: { 'Content-Type': 'application/json' }
    });

    const data = await response.json();
    document.getElementById('outputText').value = data.translatedText;
  } catch (err) {
    alert("Error translating: " + err);
  }
}




/* ------------------ Channels ------------------ */
const array_channels = [
  ["news","news"],
  ["Fox 24/7","https://www.youtube.com/embed/4nMfRpesYfw"],
  ["Newsmax2 24/7","https://rumble.com/embed/v5xwnen/?pub=4"],
  ["Bannon 24/7","https://rumble.com/embed/v6jth3u/?pub=4"],
  ["Bloomberg 24/7","https://www.youtube.com/embed/iEpJwprxDdk"],
  ["GBNews 24/7","https://www.youtube.com/embed/ZAJk8gdFKqs"],
  ["francais euronews 24/7","https://www.youtube.com/embed/NiRIbKwAejk"],
  ["France24 24/7","https://www.youtube.com/embed/l8PMl7tUDIE"],
  ["deutsch euronews 24/7","https://www.youtube.com/embed/CQ3KsEbsYHs"],
  ["deutsch oe24 24/7","https://www.youtube.com/embed/OoeHvQ1XkcY"]
];



const channelSelect = document.getElementById("select_news");
const player = document.getElementById("player");
const showChannelDiv = document.getElementById("show_channel");

array_channels.forEach(([name, url]) => {
  if (url.startsWith("http")) {
    const opt = document.createElement("option");
    opt.value = url;
    opt.textContent = name;
    channelSelect.appendChild(opt);
  }
});

channelSelect.onchange = () => {
  showChannelDiv.innerHTML = '';
  if (channelSelect.value) {
    const iframe = document.createElement('iframe');
    iframe.src = channelSelect.value;
    iframe.width = "750";
    iframe.height = "500";
    iframe.frameBorder = "0";
    iframe.allow = "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture";
    iframe.allowFullscreen = true;
    showChannelDiv.appendChild(iframe);
  }
};

/* ------------------ Links ------------------ */


const array_links = [



  ["amazon","https://www.amazon.com/"],
  ["anthem","https://member.anthem.com/public/login"],
  ["bank","https://www.atlanticunionbank.com/personal/online-mobile-banking/online-banking"],
  ["bannon_rumble", "https://rumble.com/BannonsWarRoom"],
  ["bannon_twitter", "https://x.com/Bannons_WarRoom"],
  ["clipchamp", "https://clipchamp.com/en/"],
  ["coq10 ebay auction newly listed","https://www.ebay.com/sch/i.html?_nkw=coq10&_sacat=0&_from=R40&LH_PrefLoc=1&LH_Auction=1&_sop=10"],
  ["croxyproxy","https://croxyproxy.com/"],
  ["cspan archive", "https://www.c-span.org/search/?sdate=&edate=&searchtype=Videos&sort=Most+Recent+Airing&text=0&formatid%5B%5D=25"],
  ["cspan live", "https://live.house.gov/"],
  ["drive", "https://drive.google.com/drive/"],
  ["ebay", "https://www.ebay.com"],
  ["ebay_coq10_auction", "https://www.ebay.com/sch/i.html?_nkw=coq10&_sacat=0&_from=R40&LH_PrefLoc=1&LH_Auction=1&_sop=15"],
  ["facebook", "https://www.facebook.com/"],
  ["fburg town meetingsarchive", "https://www.regionalwebtv.com/fredcc"],
  ["flights","https://www.google.com/travel/flights"],
  ["fredgis","https://maps.fredericksburgva.gov/ParcelViewer/#/mwl"],
  ["github-violin788788", "https://github.com/violin788788"],
  ["github-violin788788-code", "https://github.com/violin788788/info34"],
  ["github-violin788788-info34", "https://github.com/violin788788/info34"],
  ["github-violin788788-trading", "https://github.com/violin788788/trading"],
  ["github-violin788788-vote34", "https://github.com/violin788788/vote34"],
  ["gmail", "https://mail.google.com/mail/u/0/#inbox"],
  ["keep", "https://keep.google.com/"],
  ["library", "https://appointments.librarypoint.org/reserve/fx"],
  ["maps google", "https://www.google.com/maps"],
  ["measure", "https://eleif.net/photomeasure"],
  ["medicaid", "https://commonhelp.dss.virginia.gov/CASWeb/faces/loginCAS.xhtml?MODULE_NAME=CMB&SERVICE_PROVIDER=COMMON_HELP&LANGUAGE=EN"],
  ["mp3 identify", "https://www.aha-music.com/identify-songs-music-recognition-online"],
  ["mp4 to mp3 converter","https://cloudconvert.com/mp4-to-mp3"],
  ["newsmax2", "https://rumble.com/v60552h-newsmax2-live-real-news-for-real-people.html"],
  ["pixlr editor", "https://pixlr.com/editor/"],
  ["png-OpenClipart", "https://openclipart.org/"],
  ["png-Wikimedia Commons", "https://commons.wikimedia.org/wiki/Main_Page"],
  //["protonmail", "https://account.proton.me/mail"],
  ["protonmail", "https://mail.proton.me/u/0/inbox"],
  ["python-login", "https://www.pythonanywhere.com/login/?next=/"],
  ["python-console-info34", "https://www.pythonanywhere.com/user/info34/consoles/44684772/"],
  ["python-files-info34", "https://www.pythonanywhere.com/user/info34/files/home/info34"],
  ["python-templates-info34", "https://www.pythonanywhere.com/user/info34/files/home/info34/mysite/templates"],
  ["python-web-info34", "https://www.pythonanywhere.com/user/info34/webapps/#tab_id_info34_pythonanywhere_com"],
  ["reddit new notifications", "https://www.reddit.com/message/inbox/"],
  ["reddit new", "https://www.reddit.com"],
  ["scholar_google", "https://scholar.google.com/"],
  ["screen_recorder", "https://screen-recorder.com/"],
  ["send anywhere", "https://send-anywhere.com/"],
  ["sun times", "https://www.timeanddate.com/sun/usa/fredericksburg"],
  ["switch", "https://aifaceswap.io/"],
  ["switch-", "https://aifaceswapper.io/video-face-swap"],
  ["switch--", "https://www.swapfaces.ai/long-video-face-swap"],
  ["switch---", "https://aivideofaceswap.io/"],
  ["switch----", "https://freefaceswap.ai/video-face-swap/"],
  //["track", "" ],
  ["translate google", "https://translate.google.com/"],
  ["twitter to mp3/mp4 (works at mcd)","https://twdown.net/download.php"],
  ["vehicles-craigslist", "https://fredericksburg.craigslist.org/search/cta?sort=priceasc#search=2~gallery~34"],
  ["virginia assembly video", "https://vga.virginia.gov/engage/live-streaming-archives/"],
  ["weather-forecast", "https://www.google.com/search?q=weather&rlz=1C1AJCO_enUS1195US1195&oq=weather&aqs=chrome..69i57j0i271l2.1645j0j1&sourceid=chrome&ie=UTF-8"],
  ["weather-radar","https://weather.com/weather/radar/interactive/l/Fredericksburg+Virginia+22401?canonicalCityId=29d771c239de3f7aac3a0670102dc0e3"],
  ["weather-yesterday","https://www.timeanddate.com/weather/usa/fredericksburg/historic"],
  ["youtube mp3", "https://cnvmp3.com/v51"],


];




const select_link = document.getElementById("select_link");
array_links.forEach(([name,url]) => {
  if(url) {
    const opt = document.createElement('option');
    opt.value = url;
    opt.textContent = name;
    select_link.appendChild(opt);
  }
});
select_link.onchange = () => {
  if(select_link.value) {
    window.open(select_link.value,'_blank');
    select_link.selectedIndex = 0;
  }
};



/* ------------------ TradingView Options ------------------ */
new TradingView.widget({
  "autosize": true,
  "symbol": "NASDAQ:AAPL",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "light",
  "style": "1",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "withdateranges": true,
  "hide_side_toolbar": false,
  "allow_symbol_change": true,
  "container_id": "tradingview_abc123"
});

function generateURL() {
  const symbol = document.getElementById('symbol').value;
  let strikePrice = document.getElementById('strike-price').value;
  if(!strikePrice.includes('.0')) strikePrice += '.0';
  const callPut = document.getElementById('call-put').value;
  const expDay = document.getElementById('exp-day').value.padStart(2,'0');
  const expMonth = document.getElementById('exp-month').value.padStart(2,'0');
  const expYear = document.getElementById('exp-year').value;
  const optionsSymbol = `${symbol}${expYear}${expMonth}${expDay}${callPut}${strikePrice}`;
  const url = `https://www.tradingview.com/chart/?symbol=OPRA%3A${encodeURIComponent(optionsSymbol)}`;
  document.getElementById('generated-url').innerHTML = `Generated URL: <a href="${url}" target="_blank">${url}</a>`;
}

/* ------------------ Language ------------------ */
function openLang(lang) {
  const text = encodeURIComponent(document.getElementById("input_search").value);
  if(!text) return;
  if(lang === "de") window.open(`https://context.reverso.net/translation/english-german/${text}`,'_blank');
  else if(lang === "fr") window.open(`https://context.reverso.net/translation/english-french/${text}`,'_blank');
  else if(lang === "es") window.open(`https://context.reverso.net/translation/english-spanish/${text}`,'_blank');
  else {
    window.open(`https://context.reverso.net/translation/english-german/${text}`,'_blank');
    window.open(`https://context.reverso.net/translation/english-french/${text}`,'_blank');
  }
}

/* ------------------ Nonprofit ------------------ */
function open_nonprofit() {
  const searchTerm = document.getElementById("input_nonprofit").value;
  if(searchTerm) {
    window.open("https://apps.irs.gov/app/eos/",'_blank');
    window.open("https://www.google.com/search?q="+searchTerm+"+ein",'_blank');
  } else alert("Please enter a search term.");
}

/* ------------------ Login Infos ------------------ */


/* ------------------ search engines begin ------------------ */


const dropdown = document.getElementById("select_search");

const search_engines = {
  bing:{part1:"https://www.bing.com/search?q=",part3:""},
  chat_125:{part1:"https://chat.openai.com/?q=all answers you give are max 125 words..,",part3:""},
  chat_infinite:{part1:"https://chat.openai.com/?q=",part3:""},
  french:{part1:"https://context.reverso.net/translation/english-french/",part3:""},
  german:{part1:"https://context.reverso.net/translation/english-german/",part3:""},
  google:{part1:"https://www.google.com/search?q=",part3:""},
  maps_google:{part1:"https://www.google.com/maps/place/",part3:""},
  scholar_google:{part1:"https://scholar.google.com/scholar?hl=en&as_sdt=0%2C33&q=",part3:""},
  wiki_en:{part1:"https://en.wikipedia.org/wiki/",part3:""},
  wiki_fr:{part1:"https://fr.wikipedia.org/wiki/",part3:""},
  wiki_de:{part1:"https://de.wikipedia.org/wiki/",part3:""},
  wiktionary:{part1:"https://en.wiktionary.org/wiki/",part3:""},
  youtube_popular:{part1:"https://www.youtube.com/results?search_query=",part3:"&sp=CAM%253D"}
};

Object.entries(search_engines).forEach(([name, engine]) => {
  const option = document.createElement("option");
  option.value = engine.part1 + "%s" + engine.part3;
  option.text = name;
  dropdown.appendChild(option);
});

function goToSite() {
  const baseUrl = dropdown.value;
  const query = document.getElementById("input_search").value.trim();
  if (baseUrl) {
    const url = baseUrl.replace("%s", encodeURIComponent(query));
    window.open(url, "_blank");
  }
}

/* ------------------ search engines end ------------------ */



/* ------------------ Utility Functions ------------------ */
function open_url(input,url){
  const val=document.getElementById(input).value.trim();
  if(val) window.open(url+val,'_blank');
}


//searchConfigs


const searchConfigs = {
  ebay_north_america: {
    part1: 'https://www.ebay.com/sch/i.html?_nkw=',
    part3: '&_sacat=0&_from=R40&_sop=15&rt=nc&LH_PrefLoc=1'
  },
  ebay_north_america_not_auction: {
    part1: 'https://www.ebay.com/sch/i.html?_nkw=',
    part3: '&_sacat=0&_from=R40&_sop=15&LH_PrefLoc=1&rt=nc&LH_BIN=1'
  },
  ebay_best_offer_north_america: {
    part1: 'https://www.ebay.com/sch/i.html?_dcat=11776&_fsrp=1&rt=nc&_from=R40&_nkw=',
    part3: '&_sacat=0&_sop=15&LH_PrefLoc=1&LH_BO=1'
  },
  ebay_500_miles: {
    part1: 'https://www.ebay.com/sch/i.html?_dcat=31510&_fsrp=1&_from=R40&_nkw=',
    part3: '&_sacat=0&LH_PrefLoc=99&_stpos=22401&_sadis=500&_fspt=1&_sop=15'
  },
  ebay_best_offer_500_miles: {
    part1: 'https://www.ebay.com/sch/i.html?_dcat=31510&_fsrp=1&LH_BO=1&rt=nc&_from=R40&LH_PrefLoc=99&_nkw=',
    part3: '&_sacat=0&_sop=15&_stpos=22401&_sadis=500&_fspt=1'
  },
  amazon_search: {
    part1: 'https://www.amazon.com/s?k=',
    part3: '&rh=n%3A21513508011%2Cp_76%3A2661625011&s=price-asc-rank&dc&ds=v1%3AWwUsyqptEjxjyijx6lNLlqia1wnpj1MrRxyHxE4NyrY&crid=326K7KT22CD2O&qid=1776526952&rnid=2661623011&sprefix=anthocyanins%2Caps%2C479&ref=sr_nr_p_76_1'
  },
  walmart_search: {
    part1: 'https://www.walmart.com/search?q=',
    part3: '&sort=price_low'
  },
   lowes_search: {
    part1: 'https://www.lowes.com/search?searchTerm=',
    part3: '&sortMethod=sortBy_priceLowToHigh&inStock=1&rollUpVariants=0'
  },
   home_depot_search: {
    part1: 'https://www.homedepot.com/b/Pick-Up-Today/N-5yc1vZ1z175a5/Ntk-elastic/Ntt- ',
    part3: '?NCNI-5&sortby=price&sortorder=asc'
  }

};   //end searchConfigs

function shop_search(type) {
  const input = document.getElementById("input_shopping_search").value;
  const config = searchConfigs[type];
  if (!config) return;
  const url = config.part1 + encodeURIComponent(input) + config.part3;
  window.open(url, "_blank");
}







function open_used(){
  const query = document.getElementById("input_used").value.trim();
  if(!query){ alert("Please type something to search."); return; }
  const urls=[ "https://fredericksburg.craigslist.org/search/sss?postal=22401&query=__used__&search_distance=10&sort=priceasc#search=2~gallery~0",
               "https://www.ebay.com/sch/i.html?_from=R40&_stpos=22401&_nkw=__used__&_sacat=0&_fspt=1&_sadis=25&_fcid=1&LH_PrefLoc=99&_sop=15",
               "https://www.facebook.com/marketplace/103795126325698/search?deliveryMethod=local_pick_up&sortBy=price_ascend&query=__used__&exact=false"];
  urls.forEach(url=>window.open(url.replace("__used__",encodeURIComponent(query)),'_blank'));
}



document.getElementById("button_open_browse_1st").onclick = ()=> {
  ["https://www.facebook.com/",
   "https://www.reddit.com/message/inbox/",
   "https://www.reddit.com/user/squirrel3845/submitted/",
   "https://twitter.com/",
   "https://keep.google.com/"
   ].forEach(url=>window.open(url,'_blank'));
}

/*

document.getElementById("button_open_browse_2nd").onclick = ()=> {
  ["https://www.facebook.com/",
   "https://www.reddit.com/message/inbox/",
   "https://www.reddit.com/user/squirrel3845/submitted/",
   "https://twitter.com/",
   "https://keep.google.com/"
   ].forEach(url=>window.open(url,'_blank'));
}

*/



const brands_coq10 = [];

brands_coq10.push("zebora");
brands_coq10.push("nature");
brands_coq10.push("140");
brands_coq10.push("target");
brands_coq10.push("foster");
brands_coq10.push("walgreen");
brands_coq10.push("doctors best");
brands_coq10.push("vitacost");
brands_coq10.push("omogs");
brands_coq10.push("kirkland");


const coq10_ebay_best = "https://www.ebay.com/sch/i.html?_dcat=11776&_fsrp=1&_from=R40&_nkw=coq10 ---search---&_sacat=0&LH_BO=1&LH_PrefLoc=1&_sop=15"



const coq10_best_offer = document.getElementById('coq10_best_offer');
brands_coq10.forEach(brand => {
  const option = document.createElement('option');
  option.value = brand;
  option.textContent = brand.charAt(0).toUpperCase()+brand.slice(1);
  coq10_best_offer.appendChild(option);
});


coq10_best_offer.onchange = () => {
  const brand = coq10_best_offer.value;
  if(brand) window.open(coq10_ebay_best.replace('---search---',encodeURIComponent(brand)),'_blank');
};

</script>

</html>